# BOT Chain Configuration
# The private key of the deployer / hot wallet
PRIVATE_KEY=your_private_key_here

# Sentry Node Configuration
SENTRY_PRIVATE_KEY=your_sentry_node_private_key_here
STREAMER_CONTRACT_ADDRESS=0x4070a987c938a18ceA469e61c4c12eaC600625f0
BOTCHAIN_RPC_URL=https://rpc.bohr.life
SENTRY_PORT=4000

# Frontend Configuration (Vite)
VITE_STREAMER_CONTRACT_ADDRESS=0x4070a987c938a18ceA469e61c4c12eaC600625f0
VITE_USDT_ADDRESS=0x731D7F1ff9A2086aD76f47Aea51067d533CB3A0D
VITE_BDEX_ROUTER_ADDRESS=0xD6425a02f0845B8D99e349C34D2E7A576E177345
VITE_SENTRY_SERVER_URL=http://localhost:4000
VITE_BOTCHAIN_RPC_URL=https://rpc.bohr.life
