# BOT Chain Configuration
# The private key of the deployer / hot wallet
PRIVATE_KEY=your_private_key_here

# Sentry Node Configuration
SENTRY_PRIVATE_KEY=your_sentry_node_private_key_here
STREAMER_CONTRACT_ADDRESS=deployed_botflow_streamer_address_here
BOTCHAIN_RPC_URL=https://rpc.bohr.life
SENTRY_PORT=4000

# Frontend Configuration (Vite)
VITE_STREAMER_CONTRACT_ADDRESS=deployed_botflow_streamer_address_here
VITE_USDT_ADDRESS=deployed_usdt_address_here
VITE_BDEX_ROUTER_ADDRESS=0xD6425a02f0845B8D99e349C34D2E7A576E177345
VITE_SENTRY_SERVER_URL=http://localhost:4000
VITE_BOTCHAIN_RPC_URL=https://rpc.bohr.life
